.btn {
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.card {
    background-color: var(--white);
    width: 25rem;
    height: 25rem;
    box-shadow: 0 0 20px rgba(0,0,0, 0.5);
}

.card-captions {
    align-items: center;
    justify-content: space-between;
}

.create-new-account {
    text-align: center;
}

.input-checkbox {
    margin-right: 10px;
}

.label {
    color: var(--black);
    font-size: 15px;
    width: 100%;
}

.title-section {
    text-align: center;
    color: var(--black);
    font-weight: 900;
    font-size: 1.5rem;
    margin: 1rem auto;
}

.underline-link {
    margin-left: -10rem;
  text-decoration: underline;
  color: var(--primary-color);
  font-size: 1rem;
}