.card {
    background-color: var(--white);
    width: 400px;
    height: 400px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.5);
}

.title-section {
    text-align: center;
    color: var(--black);
    font-weight: 900;
    font-size: 1.5rem;
    margin: 1rem auto;
}

.inputLabel {
    color: var(--black);
}