.card {
  width: 18rem;
  height: max-content;
}
.img {
  width: 16rem;
  height: 15rem;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.title-section {
  text-align: center;
  margin: 1rem;
}
